<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myFarm.account.AccountMapper">

    <!--   유저 가입 DB 쿼리, 받아올 매개변수는 UserVO, 내보낼 반환 타입은 Int(insert는 자동 int) -->
    <insert id="userRegisterDB" parameterType="UserVO">
        INSERT INTO
        USERS (
           LOGIN_ID,
           USER_PW,
           USER_NAME,
           PHONE,
           EMAIL
        )
        VALUES (
            #{loginId},
            #{userPw},
            #{userName},
            #{phone},
            #{email}
        )
    </insert>

    <!--   유저 로그인 DB 쿼리, 받아올 매개변수는 UserVO, 내보낼 반환 타입은 Int(insert는 자동 int) -->
    <select id="userLoginDB" parameterType="UserVO" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
          AND USER_PW = #{userPw}
    </select>

<!--    세션에 넣을 USER_ID만 조회 후 반환-->
    <select id="findUserIdForSessionDB" resultType="int">
        SELECT USER_ID
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
    </select>

<!--    세션에 넣을 AUTH만 조회 후 반환-->
    <select id="findAuthForSessionDB" resultType="String">
        SELECT AUTH
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
    </select>

<!--    회원가입 시 기존에 가입한 아이디가 있는 지 체크-->
    <select id="isLoginIdExistDB" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE LOGIN_ID = #{loginId}
    </select>

</mapper>