<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myFarm.address.AddressMapper">
    <insert id="addressInsertDB" parameterType="AddressVO">
        INSERT INTO
        ADDRESS(
                USER_ID,
                ADDRESS,
                ADDRESS_NAME,
                RECIPIENT_NAME,
                RECIPIENT_PHONE
        )
        VALUES (
                #{userId},
                #{address},
                #{addressName},
                #{recipientName},
                #{recipientPhone}
               )
    </insert>

    <update id="addressUpdateDB">

    </update>

    <delete id="addressDeleteDB">

    </delete>

    <select id="getAddressListDB" resultType="AddressVO">
        SELECT
            ADDRESS,
            ADDRESS_NAME,
            RECIPIENT_NAME,
            RECIPIENT_PHONE
        FROM ADDRESS
        WHERE USER_ID = #{userId};
    </select>
</mapper>