<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myFarm.admin.AdminCropMapper">
    <insert id="addCrop" parameterType="CropVO">
        INSERT INTO CROP(CROP_NAME, REG_DATE, GROWTH_TIME, QUANTITY, UNIT_NAME)
        VALUES(#{cropName}, #{regDate}, #{growthTime}, #{quantity}, #{unitName})
    </insert>
</mapper>