<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myFarm.cart.mapper.CartMapper">

    <select id="findCartItemsByCartId" resultType="com.example.myFarm.cart.dto.CartItemDTO">
        SELECT
            ci.cart_item_id,
            ci.cart_id,
            ci.product_id,
            ci.quantity,
            p.name AS productName,  p.price AS productPrice FROM
            CART_ITEM ci
                JOIN
            PRODUCT p ON ci.product_id = p.product_id
        WHERE
            ci.cart_id = #{cartId}
    </select>

    <insert id="createCart" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO CART (member_id)
        VALUES (#{memberId})
    </insert>

    <select id="findCartItemByCartIdAndProductId" resultType="com.example.myFarm.cart.dto.CartItemDTO">
        SELECT cart_item_id, cart_id, product_id, quantity
        FROM CART_ITEM
        WHERE cart_id = #{cartId} AND product_id = #{productId}
    </select>

    <insert id="insertCartItem" useGeneratedKeys="true" keyProperty="cartItemId">
        INSERT INTO CART_ITEM (cart_id, product_id, quantity)
        VALUES (#{cartId}, #{productId}, #{quantity})
    </insert>

    <update id="updateCartItemQuantity">
        UPDATE CART_ITEM
        SET quantity = #{quantity}
        WHERE cart_item_id = #{cartItemId}
    </update>

    <select id="findCartItemsByCartId" resultType="com.example.myFarm.cart.dto.CartItemDTO">
        SELECT cart_item_id, cart_id, product_id, quantity
        FROM CART_ITEM
        WHERE cart_id = #{cartId}
    </select>

    <delete id="deleteCartItem">
        DELETE FROM CART_ITEM
        WHERE cart_item_id = #{cartItemId}
    </delete>

</mapper>