<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<h1>주문 상세 정보</h1>

<h2 th:text="|주문 번호: ${order.orderId}|">주문 번호: 2002</h2>
<p>주문 상태: <strong th:text="${order.status}">주문 대기</strong></p>
<p>배송 주소: <span th:text="${order.address}">서울시 강남구</span></p>
<p>연락처: <span th:text="${order.phone}">010-1234-5678</span></p>

<hr>

<h3>주문 상품</h3>

<table>
    <thead>
    <tr>
        <th>상품명</th>
        <th>단가</th>
        <th>수량</th>
        <th>금액</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${orderItems}">
        <td th:text="${item.itemName}">친환경 당근</td>
        <td th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}">3,500원</td>
        <td th:text="${item.amount}">3</td>
        <td th:with="total=${item.amount * item.price}" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}">10,500원</td>
    </tr>
    </tbody>
</table>

<hr>

<h3>총 결제 금액: <span class="totalAmount" th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 0, 'POINT')}">14,500원</span></h3>

<td><a class="btn" th:href="@{/order/{id}(id=${order.orderId})}">상세</a></td>
</body>
</html>