<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script src="/js/auth.js" defer></script>
</head>
<body>
    <h1>메인페이지입니다.</h1>

    <!-- 임시 로그아웃 버튼 -->
    <button type="button" id="logoutBtn" style="margin-top:16px;">로그아웃</button>

    <!-- 주소 확인 이동 버튼 -->
    <a href="/user/address/">
        <button type="button" style="margin-top:16px;">주소</button>
    </a>

    <!-- 상점 이동 버튼 -->
    <a href="/user/list">
        <button type="button" style="margin-top:16px;">상점</button>
    </a>


</body>
</html>